/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
* {
    font-size: 18px;
    font-family: Roboto;
}

code{
    font-family: Consolas;
}

h1 {
    font-weight: 100;
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}
